*{
	margin: 0px;
	padding: 0px;
	font-family: helvetica,arial,sans-serif;
}
header,section,article,aside,footer,figure,figcaption,hgroup{
	display: block
}
body{
	background: #e9eaed;
}
#cabecera{
	background: rgb(58, 87, 149);
	height: 42px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px gray solid;
}
#centrales{
	width: 955px;
	margin-left: 250px;
	display: inline-block;
}
#columna{
	width: 150px;
	display: inline-block;
}
#columna p{
	font-size: 12px;
}
.colum-cabeza{
	font-size: 11px;
	font-weight: bold;
	color: #9197A3;
}
#caja-post{
	
}
#caja-top-post{
   	width: 475px; 
	background: #fff;
   	padding: 10px;
   	border-radius: 3px 3px 0px 0px;
}
#border-unico{
	width: 475px;
	border-bottom: 1px solid #E5E5E5;
	margin-top: -1px;
	margin-left: 10px;
}
#update-span-post{
	color: #333;
	font-weight: bold;
	font-size: 13px;
	margin-left: 22px;
}
#add-span-post{
	color: #3B5998;
	font-weight: bold;
	font-size: 13px;
	margin-left: 22px;
}
#create-span-post{
	color: #3B5998;
	font-weight: bold;
	font-size: 13px;
	margin-left: 22px;
}
#post-comment{
	float: right;
	margin-top: 10px;
	margin-right: 260px;
	color: rgba(128, 128, 128, 0.39);
}
#postear{
	background: #fff;
   	width: 475px; 
   	padding: 10px;
   	border-bottom: 1px solid #E5E5E5;
}
#seccion{
	width: 495px; 
	display: inline-block;
	margin-left: 25px;
}
.article-seccion{
   background: #fff;
   width: 475px; 
   padding: 10px;
   border-radius: 3px 3px 0px 0px;  
   border-bottom: 1px solid #E5E5E5;
}
#caja-bottom-post{
	width: 475px;
	background: #fff;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 0px 0px 3px 3px;
	text-align: right;
}
#button-post{
	background: #3B5998;
	border-radius: 2px;
	color: #fff;
	border: 1px #c9c9c9 solid;
	border: none;
	font-weight: bold;
	padding: 2px 10px;
}
#button-public{
	background: #fff;
	border-radius: 2px;
	color: #4E5665;
	border: 1px #c9c9c9 solid;
	font-weight: bold;
	padding: 2px 10px;
}
#columna2{
	width: 265px;
	background: #FFF;
	border-radius: 3px;
	padding-left: 10px;
	margin-left: 10px;
	float: right;
}
#seccion-columna2{
	display: inline-block;
	position:absolute;
}

#columna3{
	background: #CCC;
	height: 895px;
	width: 207px;
	float: right;
	display: inline-block;
	margin-top: -10px;
}
